.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  opacity: 0;
  transition:
    visibility 0s linear 0.3s,
    opacity 0.3s linear;
}

.modal.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition:
    visibility 0s linear 0s,
    opacity 0.3s linear;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  padding: 32px 50px;
  box-sizing: border-box;
}

.modal__close-button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  border: none;
  color: #666;
  opacity: 0.4;
  background: transparent;
  background-size: contain;
  background-image: url(../images/close-icon.svg);
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.modal__close-button:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  background: #ffffff;
}

.modal__label {
  margin: 0 0 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  color: #212121;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  box-sizing: border-box;
  padding: 16px 12px;
  color: #212121;
}

.modal__submit-button {
  padding: 12px 24px;
  background-color: #212121;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s;
  max-width: 156px;
  width: 156px;
  height: 52px;
  gap: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  cursor: pointer;
  align-self: flex-start;
}

.modal__submit-button:hover {
  background-color: #333;
}

.modal__input::placeholder {
  color: #2121214d;
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 24px 20px;
    margin: 0 20px;
  }

  .modal__close-button {
    top: 20px;
    right: 20px;
  }

  .modal__submit-button {
    max-width: none;
    width: 100%;
    align-self: stretch;
  }
}
