.profile {
  display: flex;
  padding: 34px 0 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  width: 190px;
  height: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  gap: 8px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s, opacity 0.2s;
  opacity: 0.7;
  margin-top: auto;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__add-button {
  margin-left: auto;
  gap: 8px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #212121;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.profile__add-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }
  .profile__add-button {
    align-items: center;
  }
}
